section {
    max-width: 500px;
    margin: 0 auto;
    padding-top: 32px;
    font-size: 24px;
}
img{
    width: 64px;
    border-radius: 50%;
}
button{
    margin-top: 16px;
    padding: 8px 16px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}